

body{
    padding: 10%;
    font-size: 2rem;
    font-family: "sans-serif",  monospace, Helvetica;
}



/*input,button{*/
/*    font: inherit;*/
/*}*/

p{
    font-weight: bold;
    font-style: italic;
}






















