@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'JetBrains Mono', monospace;;
}



/*input,button{*/
/*    font: inherit;*/
/*}*/


p{
    font-weight: lighter;
    font-style: italic;
}






















